# file: requirements.txt
torch>=2.1
transformers
diffusers>=0.27.0
accelerate
safetensors
xformers
opencv-python
Pillow
# ↓↓↓ añade UNA de las dos ↓↓↓
#git+https://github.com/h94/IP-Adapter.git@main#egg=ip-adapter
ip-adapter==0.1.5
controlnet-aux
streamlit
omegaconf==2.3.0
einops
huggingface_hub
